@font-face {
    font-family: century-gothic;
    src: url(./fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
}

* {
    font-family: century-gothic;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

:root {
    --brand-primary: #161616;
    --brand-secondary: #6EAA59;
}

.latest-news {
    display: flex;
}

.latest-news__contains {
    width: 100%;
    height: 23rem;
    background-image: url(../images/exterior.png);
    background-size: cover;
    background-position: bottom;
}

.latest-news__headline-news {
    background-color: rgb(22, 22, 22, 50%);
    width: 5rem;
    color: white;
    font-size: 1.9em;
    margin: 1rem;
    padding: 0.3rem;
}

.latest-news__headline-text {
    background-color: rgb(22, 22, 22, 50%);
    width: 16rem;
    color: white;
    font-size: 1.5em;
    margin: 12rem 0 0 1rem;
    padding: 0.3rem;
}

.latest-news__headline {
    background-color: rgb(22, 22, 22, 50%);
    width: 22rem;
    color: white;
    margin: 0.5rem 0 0 1rem;
    padding: 0.3rem;
    font-size: 3em;
}

.news {
    display: grid;
    margin: 2rem 8vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "caption caption caption caption"
    "text text text text"
    "image image image image";
}

.news__heading {
    grid-area: caption;
    border-bottom: 3px solid var(--brand-secondary);
    color: #fff;
    margin: 1rem 0;
    padding: 0 0 0.3rem 0;
}

.news__text {
    grid-area: text;
    color: #fff;
    margin: 0 0 1rem 0;
}

.news__image {
    grid-area: image;
    width: 100%;
}

@media only screen and (min-width: 700px)
{
    .news {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "caption caption caption caption . image image image"
        "text text text text . image image image"
        ". . . . . image image image";
    }

    .news__heading {
        margin: 0 0 1rem 0;
    }
}

@media only screen and (min-width: 1366px)
{
    .latest-news__contains {
        margin: 0 15.6vw;
        background-position: center;
    }

    .news {
        grid-template-areas: 
        "caption caption caption caption caption . . . image image image"
        "text text text text text . . . image image image"
        ". . . . . . . image image image";
        margin: 2rem 15.6vw;
    }
}