@font-face {
    font-family: century-gothic;
    src: url(../fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
}

* {
    font-family: century-gothic;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--brand-primary);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

a {
    text-decoration: none;
}

:root {
    --brand-primary: #161616;
    --brand-secondary: #6EAA59;
    --brand-third: #fff;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--brand-primary);
}

/*Nav */

header {
    background-image: url(../images/coffeeheader-dark.jpg);
    background-size: 170%;
    background-position: center;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid var(--brand-secondary);
    position: sticky;
    position: -webkit-sticky;
    /*til safari*/
    top: -18.5rem;
    z-index: 6;
}

.nav-logo-link {
    width: 60%;
    align-self: center;
}

.nav-logo-img {
    width: 100%;
}

.burger {
    position: fixed;
    width: 3.3rem;
    right: 1rem;
    top: 0.6rem;
    z-index: 2;
}

.nav-burger-line {
    margin: 0.52rem auto;
    height: 0.35rem;
    width: 100%;
    background-color: var(--brand-third);
    border-radius: 10px;
}

.facebook-icon {
    z-index: 4;
    position: fixed;
    width: 3rem;
    top: 0.7rem;
    left: 1rem;
}

.nav-responsive-list {
    display: none;
}

/* Menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--brand-primary);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.sidenav__link {
    text-transform: uppercase;
    letter-spacing: 0.35ch;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 25px;
    color: var(--brand-third);
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    color: var(--brand-third);
    position: absolute;
    top: -0.5rem;
    right: 1.2rem;
    font-size: 8ch;

}

.logo-nav-container {
    width: 20rem;
    align-self: center;
    display: flex;
    border-bottom: 3px solid var(--brand-secondary);
    margin-bottom: 1rem;
}

.logo-nav-burger {
    width: 10rem;
    align-self: center;
    margin: 2rem auto 0.8rem auto;
}

/* Landing page */

.landing-sect-links {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 8vw 1fr 1fr 1fr 1fr 8vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". concept concept concept concept ."
        ". news news news news ."
        ". barista barista barista barista ."
        ". decor decor decor decor ."
        ". gallery gallery gallery gallery ."
        ". contact contact contact contact ."
        ". location location location location .";
}

.landing-sect-links div h2 {
    color: var(--brand-third);
    font-weight: normal;
    align-self: center;
    text-align: center;
    font-size: 1.9em;
}

.landing-sect-links p {
    color: var(--brand-third);
    text-align: center;
    font-size: 1em;
    position: absolute;
    margin-top: 13rem;
}

.landing-div-links {
    width: 100%;
}

.link-concept {
    grid-area: concept;
    height: 15rem;
}

.link-news {
    grid-area: news;
    height: 15rem;
}

.link-baristas {
    grid-area: barista;
    height: 15rem;
}

.link-decor {
    grid-area: decor;
    height: 15rem;
}

.link-contact {
    grid-area: contact;
    height: 7.5rem;
}

.link-location {
    grid-area: location;
    height: 7.5rem;
}

.link-concept div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/koncept.png);
    background-size: 140%;
    background-position: right bottom;
}

.link-news div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/coffeebar.jpg);
    background-size: cover;
}

.link-baristas div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../gallery/baristaerne.png);
    background-size: cover;
}

.link-decor div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/Nyheder.png);
    background-size: 200%;
    background-position: left bottom;
}

.landing_gallery_title {
    color: var(--brand-third);
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.9em;
    font-weight: normal;
    z-index: 5;
}

.link-gallery {
    grid-area: gallery;
    height: 15rem;
    display: flex;
    justify-content: center;
}

.container_landing_gallery {
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "couch shop shop"
        "coffee coffee barista";
}

.container_landing_gallery__gal1 {
    grid-area: couch;
    background-image: url(../gallery/open.png);
    background-size: cover;
    background-position: center;
}

.container_landing_gallery__gal2 {
    grid-area: shop;
    background-image: url(../gallery/syrup.png);
    background-size: cover;
    background-position: 0% 65%;

}

.container_landing_gallery__gal3 {
    grid-area: coffee;
    background-image: url(../gallery/two-coffee-cups.png);
    background-size: cover;
    background-position: 50% 50%;
}

.container_landing_gallery__gal4 {
    grid-area: barista;
    background-image: url(../gallery/inspiring-quotes.png);
    background-size: cover;
    background-position: bottom;
}

.link-contact div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/kontakt.png);
    background-size: cover;
    background-position: center;
}

.link-location div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/location.png);
    background-size: cover;
    background-position: center;
}

/* Concept */
.concept-container {
    display: grid;
    grid-template-columns: 8vw 1fr 1fr 8vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". concept concept ."
        ". coffee coffee ."
        ". barista barista ."
        ". interior interior .";
}

.concept-top {
    margin-top: 2rem;
    grid-area: concept;
}

.concept-mid {
    grid-area: coffee;
}

.concept-flipped-mid {
    grid-area: barista;
}

.concept-flipped-bottom {
    grid-area: interior;
}

.concept {
    width: 100%;
    margin-bottom: 4rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image image image image"
        "heading heading heading heading"
        "text text text text"
        "button-JC button-JC button-CC button-CC"
        ;
}

.concept__button__cc {
    grid-area: button-CC;
    width: auto;
    border: 3px solid var(--brand-secondary);
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #000;
    color: var(--brand-third);
}

.concept__button__jc {
    grid-area: button-JC;
    width: auto;
    border: 3px solid var(--brand-secondary);
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #000;
    color: var(--brand-third);
}

.concept__image {
    grid-area: image;
    width: 100%;
}

.concept__headline {
    grid-area: heading;
    border-bottom: 3px solid var(--brand-secondary);
    color: var(--brand-third);
    margin: 1rem 0;
    padding-bottom: 0.3rem;
    font-weight: normal;
}

.concept__text {
    grid-area: text;
    color: var(--brand-third);
    font-weight: normal;
    margin-bottom: 2rem;
}

.concept--flipped {
    width: 100%;
    margin-bottom: 4rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image image image image"
        "heading heading heading heading"
        "text text text text";
}


.concept__image-flipped {
    grid-area: image;
    width: 100%;
}

.concept__headline-flipped {
    grid-area: heading;
    border-bottom: 3px solid var(--brand-secondary);
    color: var(--brand-third);
    margin: 1rem 0;
    padding-bottom: 0.3rem;
    font-weight: normal;
}

.concept__text-flipped {
    grid-area: text;
    color: var(--brand-third);
    font-weight: normal;
    margin-bottom: 2rem;
}



/* Contact */
.contact-container {
    display: grid;
    grid-template-columns: 8vw 1fr 1fr 8vw;
    grid-template-rows: auto;
    grid-template-areas:
        ". hours hours ."
        ". mail mail ."
        ". some some ."
        ". call call ."
        ". location location .";
}

.contact__heading {
    grid-area: heading;
    color: var(--brand-third);
    font-weight: normal;
    padding-bottom: 0.3rem;
    margin: 2rem 0 1rem 0;
    border-bottom: 3px solid var(--brand-secondary);
}

.contact__text {
    grid-area: text;
    color: var(--brand-third);
}

.contact__open-hours {
    margin-top: 2rem;
    grid-area: hours;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading heading heading heading"
        "text text text text";
}

.open-hours__text {
    line-height: 2.2;
}

.contact__form {
    grid-area: mail;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading heading heading heading"
        "text text text text"
        "form form form form";
}

/* FORM Start */

.contact-form {
    grid-area: form;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    color: var(--brand-third);
    padding-left: 0.4rem;
    width: 97%;
    border-radius: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    border: 2px solid var(--brand-third);
    background-color: #0a0a0a;
}

.contact-form input:active {
    background-color: #0a0a0a;
}

.contact-form textarea {
    color: var(--brand-third);
    padding-left: 0.4rem;
    width: 97%;
    text-decoration: none;
    border-radius: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 5rem;
    background-color: #0a0a0a;
    border: 2px solid var(--brand-third);
    resize: none;

}


.contact-form button {
    align-self: center;
    margin: 1rem 0;
    background-color: #0a0a0a;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    width: 50%;
    border: 2px solid var(--brand-third);
    text-align: center;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.9ch;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--brand-third);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--brand-third);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--brand-third);
}

.contact-form button:focus {
    outline: none;
}

.contact-form input:focus {
    outline: none;
}

.contact-form textarea:focus {
    outline: none;
}

/* FORM End*/


.contact__some {
    grid-area: some;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading heading heading heading"
        "text text text text"
        "icon icon icon icon";
}

.contact__some__link {
    justify-self: center;
    grid-area: icon;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    font-size: 1.2em;
    color: var(--brand-third);
}

.contact__icon__fb {
    width: 2.5rem;
    margin-right: 1rem;
}
.some__text-shorten {
    width: 15rem;
}


.contact__phone {
    grid-area: call;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading heading heading heading"
        "text text text text"
        "icon icon icon icon";
}

.contact__icon__phone {
    width: 2.5rem;
    margin-right: 1rem;
}

.contact__location {
    margin-bottom: 5rem;
    grid-area: location;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "heading heading heading heading"
        "text text text text"
        "map map map map";
}

.contact__map {
    grid-area: map;
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
}

/* GALLERY */

.container{
    margin: 2rem 8vw;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 12rem;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-container:hover{
    transform:scale(1.01);
}


.gallery-item:hover .text{
    opacity:1;
    animation: move-down .3s linear;
    padding:1em;
    width:100%;
}

.w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
    grid-column:span 1;
}

@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}

@media only screen and (min-width: 700px) {
    header {
        background-size: 100%;
        background-position: center;
        height: 18rem;
        top: -13rem;
    }

    .nav-logo-link {
        position: absolute;
        width: 30%;
        align-self: center;
    }

    .nav-logo-img {
        width: 100%;
    }

    .facebook-icon {
        position: fixed;
        top: 1.05rem;
        left: 1.2rem;
    }

    .burger {
        display: none;
    }

    .nav-responsive-list {
        display: flex;
        margin-top: 15rem;
    }

    .nav-list-horizontal {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 0 auto;

    }

    .nav-list-horizontal a {
        text-decoration: none;
        color: var(--brand-third);
        font-size: 1.3em;
    }

    /* Landing */

    .landing-sect-links {
        grid-template-columns: 8vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8vw;
        grid-template-areas:
            ". concept concept concept concept concept concept concept concept ."
            ". news news news news news news news news ."
            ". barista barista barista barista decor decor decor decor ."
            ". gallery gallery gallery gallery gallery gallery gallery gallery ."
            ". contact contact contact contact contact contact contact contact ."
            ". location location location location location location location location .";
    }



    .landing-sect-links div h2 {
        font-size: 1.9em;
    }

    .landing-sect-links p {
        font-size: 1.4em;
        margin-top: 17.5rem;
    }

    .link-concept {
        height: 20rem;
    }

    .link-concept div {
        background-size: 110%;
    }

    .link-news {
        height: 12rem;
    }

    .link-baristas {
        height: 12rem;
    }

    .link-decor {
        height: 12rem;
    }

    .link-gallery {
        height: 20rem;
    }

    .link-contact {
        height: 10rem;
    }

    .link-location {
        height: 10rem;
    }


    /* Concept */
    .concept-container {
        display: grid;
        grid-template-columns: 7vw 1fr 1fr 7vw;
        grid-template-rows: auto;
        grid-template-areas:
            ". concept concept ."
            ". coffee coffee ."
            ". barista interior .";
    }

    .concept--top {
        margin-top: 2rem;
        grid-area: concept;
    }

    .concept--mid {
        grid-area: coffee;
    }

    .concept--flipped--mid {
        grid-area: barista;
    }

    .concept--flipped--bottom {
        grid-area: interior;
    }

    .concept {
        width: 100%;
        margin-bottom: 4rem;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading image image image image"
            "text text text text image image image image"
            "button-CC button-CC button-JC button-JC image image image image"
            ". . . . image image image image";
    }

    .concept__prices {}

    .concept__button__link {
        width: 90%;
        text-align: center;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }


    .concept__image {
        grid-area: image;
        width: 100%;
    }

    .concept__headline {
        grid-area: heading;
        border-bottom: 3px solid var(--brand-secondary);
        color: var(--brand-third);
        margin: 0;
        padding-bottom: 0.2rem;
        font-weight: normal;
    }

    .concept__text {
        grid-area: text;
        color: var(--brand-third);
        font-weight: normal;
    }

    .concept--flipped {
        width: 100%;
        margin-bottom: 4rem;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "image image image image"
            "heading heading heading heading"
            "text text text text";
    }


    .concept__image-flipped {
        grid-area: image;
        width: 94%;
    }

    .concept__headline-flipped {
        grid-area: heading;
        border-bottom: 3px solid var(--brand-secondary);
        color: var(--brand-third);
        margin: 1rem 0;
        padding-bottom: 0.3rem;
        font-weight: normal;
    }

    .concept__text-flipped {
        grid-area: text;
        color: var(--brand-third);
        font-weight: normal;
        padding-right: 1rem;
    }

    /* CONTACT */
    .contact-container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 8vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8vw;
        grid-template-rows: auto;
        grid-template-areas:
            ". mail mail mail mail mail hours hours hours ."
            ". mail mail mail mail mail . . . ."
            ". some some some some some call call call ."
            ". . . . . . call call call ."
            ". location location location location location location location location .";
    } 

    .contact__open-hours {
        margin-top: 0;
        grid-area: hours;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading"
            "text text text text";
    }
    
    .open-hours__text {
        line-height: 2.2;
    }
    
    .contact__form {
        grid-area: mail;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading heading"
            "text text text text ."
            "form form form form .";
    }

    .contact__some {
        grid-area: some;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading heading"
            "text text text text ."
            "icon icon icon icon .";
    }
    
    .contact__some__link {
        justify-self: left;
        grid-area: icon;
        display: flex;
        margin-top: 2rem;
        align-items: left;
        font-size: 1.2em;
        color: var(--brand-third);
    }
    
    .contact__icon__fb {
        width: 2.5rem;
        margin-right: 1rem;
    }
    
    
    .contact__phone {
        grid-area: call;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading"
            "text text text text"
            "icon icon icon icon";
    }


/* GALLERY */

.container{
    margin: 2rem 8vw;
    grid-template-columns: repeat(3,1fr);
}


.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 2;
}
.w-4{
    grid-column: span 3;
}
.w-5{
    grid-column: span 3;
}
.w-6{
    grid-column: span 3;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 2;
}
.h-4{
    grid-row: span 3;
}
.h-5{
    grid-row: span 3;
}
.h-6{
    grid-row: span 3;
} 


}


@media only screen and (min-width: 1366px) {
    header {
        background-size: 100%;
        background-position: center 40%;
        height: 20rem;
        justify-content: none;
        top: -10.5rem;
        display: block;
    }

    .nav-logo-link {
        left: 15.5vw;
        top: 12rem;
        width: auto;
    }

    .facebook-icon {
        position: absolute;
        left: auto;
        right: 12vw;
        top: 16rem;
    }

    .nav-logo-img {
        width: 100%;
    }

    .nav-responsive-list {
        position: absolute;
        display: flex;
        margin: 0;
        width: auto;
        top: 16.5rem;
        right: 16vw;
    }

    .nav-list-horizontal {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: auto;
    }

    .nav-list-horizontal a {
        text-decoration: none;
        color: #fff;
        font-size: 1.8em;
        margin: 0 1rem;
    }

    .nav-list-horizontal a:hover {
        color: var(--brand-secondary);
    }

    /* Landing */


    .landing-sect-links {
        gap: 1.5rem;
        grid-template-columns: 14vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 14vw;
        grid-template-areas:
            ". concept concept concept concept concept concept concept concept concept concept concept concept ."
            ". news news news news barista barista barista barista decor decor decor decor ."
            ". gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery ."
            ". contact contact contact contact contact contact location location location location location location .";
    }


    .landing_links--resize:hover {
        transform: scale(1.01);
        transition-duration: 0.2s;
    }

    .landing-sect-links div h2 {
        font-size: 3em;
    }

    .landing-sect-links p {
        font-size: 2em;
        margin-top: 26rem;
    }

    .link-concept {
        height: 30rem;
    }

    .link-concept div {
        background-size: cover;
        background-position: center;
    }

    .link-news {
        height: 23rem;
    }

    .link-baristas {
        height: 23rem;
    }

    .link-decor {
        height: 23rem;
    }

    .landing_gallery_title { 
        font-size: 3em;
    }


    .link-gallery {
        height: 30rem;
    }

    .link-contact {
        height: 16rem;
    }

    .link-location {
        height: 16rem;
    }

    /* Concept */

    .concept {
        width: 100%;
        margin-bottom: 4rem;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading image image image image"
            "text text text text image image image image"
            "button-CC button-JC . . image image image image"
            ". . . . image image image image";
    }


    .concept__button__link {
        width: 75%;
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-size: 1.4em;
    }
    
    .concept__button__link:hover {
        border: 3px solid var(--brand-secondary);
        background-color: var(--brand-secondary);
        color: var(--brand-third);
        transform: scale(1.01);
    }

    .concept__headline {
        font-size: 2.2em;
    }

    .concept__text {
        font-size: 1.15em;
    }


    .concept-container {
        grid-template-columns: 14vw 1fr 1fr 14vw;
        padding: 0 1.2rem;

    }

    .concept__headline--flipped {
        font-size: 2.2em;

    }

    .concept__text--flipped {
        font-size: 1.15em;
    }

    .some__text--shorten {
        width: auto;
    }

    /* Contact */
    .contact-container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: 15.6vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 15.6vw;
        grid-template-rows: auto;
        grid-template-areas:
            ". mail mail mail mail mail hours hours hours ."
            ". mail mail mail mail mail . . . ."
            ". some some some some some call call call ."
            ". . . . . . call call call ."
            ". location location location location location location location location .";
    } 

    .contact__form {
        grid-area: mail;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "heading heading heading heading heading heading"
            "text text text text text ."
            "form form form form . .";
    }
    
    .contact-form button:hover {
    background-color: #000;
    border: 2px solid var(--brand-secondary);
    cursor: pointer;
    transform: scale(1.01);
}

    /* Gallery */
    .container{
        margin: 2rem 14vw;
        grid-template-columns: repeat(5,1fr);
    } 

    
.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
} 


}