@font-face {
    font-family: century-gothic;
    src: url(./fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
}

* {
    font-family: century-gothic;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --brand-primary: #161616;
    --brand-secondary: #6EAA59;
}

body {
    background-color: var(--brand-primary);
}

/*Nav */

header {
    background-image: url(./images/coffeeheader-dark.jpg);
    background-size: 170%;
    background-position: center;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid var(--brand-secondary);
    position: sticky;
    position: -webkit-sticky; /*til safari*/
    top: -18.5rem;
    z-index: 6;
}

.nav-logo-link {
    width: 60%;
    align-self: center;
}

.nav-logo-img {
    width: 100%;
}

.burger {
    position: fixed;
    width: 3.3rem;
    right: 1rem;
    top: 0.6rem;
    z-index: 2;
}

.nav-burger-line {
    margin: 0.52rem auto;
    height: 0.35rem;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.facebook-icon {
    z-index: 4;
    position: fixed;
    width: 3rem;
    top: 0.7rem;
    left: 1rem;
}

.nav-responsive-list {
    display: none;
}

/* Menu */




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--brand-primary);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.sidenav a {
    text-transform: uppercase;
    letter-spacing: 0.35ch;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    color: #fff;
    position: absolute;
    top: -1.5rem;
    right: -0.5rem;
    font-size: 8ch;

}

.logo-nav-container {
    width: 20rem;
    align-self: center;
    display: flex;
    border-bottom: 3px solid var(--brand-secondary);
    margin-bottom: 1rem;
}

.logo-nav-burger {
    width: 10rem;
    align-self: center;
    margin: 2rem auto 0.8rem auto;
}








/* Landing page */

.landing-sect-links {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 8vw 1fr 1fr 1fr 1fr 8vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". concept concept concept concept ."
    ". news news news news ."
    ". barista barista barista barista ."
    ". decor decor decor decor ."
    ". gallery gallery gallery gallery ."
    ". contact contact contact contact ."
    ". location location location location .";
}

/* .landing-sect-links div {
    width: 100%;
    display: flex;
    justify-content: center;
} */

.landing-sect-links div h2 {
    color: #fff;
    font-weight: normal;
    align-self: center;
    text-align: center;
    font-size: 1.9em;
}
.landing-sect-links p {
    color: #fff;
    text-align: center;
    font-size: 1em;
    position: absolute;
    margin-top: 13rem;
}

.landing-div-links {
    width: 100%;
}

.link-concept {
    grid-area: concept;
    height: 15rem;
}

.link-news {
    grid-area: news;
    height: 15rem;
}

.link-baristas {
    grid-area: barista;
    height: 15rem;
}

.link-decor {
    grid-area: decor;
    height: 15rem;
}



.link-contact {
    grid-area: contact;
    height: 7.5rem;
}

.link-location {
    grid-area: location;
    height: 7.5rem;
}

.link-concept div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/koncept.png);
    background-size: 140%;
    background-position: right bottom;
}

.link-news div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/coffeebar.jpg);
    background-size: cover;
}

.link-baristas div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/baristaerne.png);
    background-size: cover;
}

.link-decor div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/Nyheder.png);
    background-size: 200%;
    background-position: left bottom;
}



.landing_gallery_title {
    color: #fff;
    position: absolute;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.9em;
    font-weight: normal;
    z-index: 5;
}

.link-gallery {
    grid-area: gallery;
    height: 15rem;
    display: flex;
    justify-content: center;
}

.container_landing_gallery {
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "couch shop shop"
    "coffee coffee barista";
}

.couch {
    grid-area: couch;
    background-color: rgb(138, 138, 103);
}

.shop {
    grid-area: shop;
    background-color: rgb(138, 138, 103);
}

.coffee {
    grid-area: coffee;
    background-color: rgb(138, 138, 103);
}

.barista {
    grid-area: barista;
    background-color: rgb(138, 138, 103);
}



.link-contact div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/kontakt.png);
    background-size: cover;
    background-position: center;
}

.link-location div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/location.png);
    background-size: cover;
    background-position: center;
}

/* Concept */
.concept--top {
    margin-top: 2rem;
}

.concept {
width: 100%;
margin-bottom: 4rem;
display: grid;
grid-template-columns: 7vw 1fr 1fr 1fr 1fr 7vw;
grid-template-rows: auto;
grid-template-areas: 
". image image image image ."
". heading heading heading heading ."
". text text text text .";
}

.concept__prices {

}

.concept__image {
grid-area: image;
width: 100%;
}

.concept__headline {
grid-area: heading;
border-bottom: 3px solid var(--brand-secondary);
color: #fff;
margin: 1rem 0;
padding-bottom: 0.3rem;
font-weight: normal;
}

.concept__text {
grid-area: text;
color: #fff;
font-weight: normal;
}

.concept--flipped {
    width: 100%;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 7vw 1fr 1fr 1fr 1fr 7vw;
    grid-template-rows: auto;
    grid-template-areas: 
    ". image image image image ."
    ". heading heading heading heading ."
    ". text text text text .";
    }
    
    
    .concept__image--flipped {
    grid-area: image;
    width: 100%;
    }
    
    .concept__headline--flipped {
    grid-area: heading;
    border-bottom: 3px solid var(--brand-secondary);
    color: #fff;
    margin: 1rem 0;
    padding-bottom: 0.3rem;
    font-weight: normal;
    }
    
    .concept__text--flipped {
    grid-area: text;
    color: #fff;
    font-weight: normal;
    }



@media only screen and (min-width: 700px) {
    header {
        background-size: 100%;
        background-position: center;
        height: 18rem;
        top: -13rem;
    }

    .nav-logo-link {
        position: absolute;
        width: 30%;
        align-self: center;
    }

    .nav-logo-img {
        width: 100%;
    }
    .facebook-icon {
        position: fixed;
        top: 1.05rem;
        left: 1.2rem;
    }
    .burger {
        display: none;
    }

    .nav-responsive-list {
        display: flex;
        margin-top: 15rem;
    }

    .nav-list-horizontal {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto 0 auto;

    }

    .nav-list-horizontal a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3em;
    }

/* Landing */

.landing-sect-links {
    grid-template-columns: 8vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 8vw;
    grid-template-areas: 
    ". concept concept concept concept concept concept concept concept ."
    ". news news news news news news news news ."
    ". barista barista barista barista decor decor decor decor ."
    ". gallery gallery gallery gallery gallery gallery gallery gallery ."
    ". contact contact contact contact contact contact contact contact ."
    ". location location location location location location location location .";
}



.landing-sect-links div h2 {
    font-size: 1.9em;
}
.landing-sect-links p {
    font-size: 1.4em;
    margin-top: 17.5rem;
}

.link-concept {
    height: 20rem;
}

.link-concept div {
    background-size: 110%;
}

.link-news {
    height: 12rem;
}

.link-baristas {
    height: 12rem;
}

.link-decor {
    height: 12rem;
}

.link-gallery {
    height: 20rem;
}

.link-contact {
    height: 10rem;
}

.link-location {
    height: 10rem;
}


}


@media only screen and (min-width: 1366px) {
    header {
        background-size: 100%;
        background-position: center 40%;
        height: 20rem;
        justify-content: none;
        top: -10.5rem;
        display: block;
    }
    
    .nav-logo-link {
        left: 15.5vw;
        top: 12rem;
        width: auto;
    }

    .facebook-icon {
        position: absolute;
        left: auto;
        right: 12vw;
        top: 16rem;
    }
    
    .nav-logo-img {
        width: 100%;
    }
    .nav-responsive-list {
        position: absolute;
        display: flex;
        margin: 0;
        width: auto;
        top: 16.5rem;
        right: 16vw;
    }

    .nav-list-horizontal {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: auto;
    }

    .nav-list-horizontal a {
        text-decoration: none;
        color: #fff;
        font-size: 1.8em;
        margin: 0 1rem;
    }

    .nav-list-horizontal a:hover {
        color: var(--brand-secondary);
    }

/* Landing */


    .landing-sect-links {
        gap: 1.5rem;
        grid-template-columns: 14vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 14vw;
        grid-template-areas: 
        ". concept concept concept concept concept concept concept concept concept concept concept concept ."
        ". news news news news barista barista barista barista decor decor decor decor ."
        ". gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery ."
        ". contact contact contact contact contact contact location location location location location location .";
    }
    

    .landing_links--resize:hover {
        transform: scale(1.01);
        transition-duration: 0.2s;
    }
    
    .landing-sect-links div h2 {
        font-size: 3em;
    }
    .landing-sect-links p {
        font-size: 2em;
        margin-top: 26rem;
    }
    
    .link-concept {
        height: 30rem;
    }
    
    .link-concept div {
        background-size: cover;
        background-position: center;
    }
    
    .link-news {
        height: 23rem;
    }
    
    .link-baristas {
        height: 23rem;
    }
    
    .link-decor {
        height: 23rem;
    }
    
    .link-gallery {
        height: 30rem;
    }
    
    .link-contact {
        height: 16rem;
    }
    
    .link-location {
        height: 16rem;
    }
}
